@theme {
	--color-brand-primary-100: #e8f1ff;
	--color-brand-primary-300: #153d73;
	--color-brand-primary: #1c3c5d;
	--color-brand-primary-700: #082544;
	--color-brand-secondary-300: #bce8f5;
	--color-brand-secondary: #68d1ef;
	--color-brand-secondary-700: #56bcd9;
	--color-dark-bg-text: #fff;
	--color-light-bg-text: #1c3c5d;
	--color-dragging: #e8f1ff;
	--color-dragging-dark: #7e95b9;
	--color-info-400: #6abfde;
	--color-info-500: #5cabc8;
	--color-danger-500: #c26a6a;
	--color-success-500: #71c269;
	--color-warning-500: #dbbb7f;
	--radius-soft: .5rem;
	--radius-pill: 50%;
	--aside-width: 3.75rem;
	--aside-width-expanded: 15.625rem;
	--header-height: 3.25rem;
}
